body {
  background-image: url(imagenes/fondo3.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}




.carousel-inner {
    max-height: 500px;
    padding: 0px;
   
  }
  .card-text {
      
  }

  .div-col {
display: inline;
  }

  .imanosotros {
 width: 500px;
  }
 .logotipo {
  width: 50px;
 }